pkgbase = pinentry-dmenu
	pkgdesc = A pinentry program with the charm of dmenu
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/otlin100/pinentry-dmenu
	arch = i686
	arch = x86_64
	license = GPL2
	depends = sh
	depends = libconfig
	depends = libxinerama
	depends = libxft
	provides = pinentry
	source = https://github.com/otlin100/pinentry-dmenu/archive/0.2.2.zip
	sha256sums = 78795659c9d7d2eb0cd916019ada91af930d2c235a70537acb1a526d791473b5

pkgname = pinentry-dmenu
