snippet begin "\begin{..} ... \end{..}" b
\\begin\{${1:figure}}
    ${2:foo}
\\end\{$1}
${0:foo}
endsnippet

snippet img "" b
\\begin\{figure}[${4:htbp!}]
    \\centering
    \\includegraphics[width=\linewidth]\{${1:path}}
    \\caption\{${2:caption}}
    \\label\{${3:type:label}}
\\end\{figure}
${0:end}
endsnippet

snippet pkg "usepkg" b
\\usepackage\{${1:pkg}}
${0:end}
endsnippet
